<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.PayMapper">
	<select id="paySelectReser" resultType="PayModel">
		select
		m_id,
		r_no,
		depplacenm,
		arrplacenm,
		rdate,
		depplandtime,
		gradenm,
		cnt,
		seatnum,
		price,
		r_yn
		from
		v_kobus_reserlist
		where m_id = #{ m_id } AND r_yn = 'N'
	</select>

	<select id="payCancleSelect" resultType="PayModel">
		select
		m_id,
		r_no,
		depplacenm,
		arrplacenm,
		rdate,
		depplandtime,
		gradenm,
		cnt,
		seatnum,
		price,
		r_yn
		from
		v_kobus_reserlist
		where m_id = #{ m_id } AND r_yn	= 'Y'
	</select>
</mapper>
 