<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.ReserMapper">
		
		<select id="selectAll"  resultType="ScheduleModel">
		SELECT DISTINCT DEPPLACENM
		FROM KO_SCHEDULE
	</select>
	
	<select id="selectlast" resultType="ScheduleModel" parameterType="String">
		SELECT DISTINCT ARRPLACENM
		FROM KO_SCHEDULE
		WHERE DEPPLACENM = #{dep_placenm}
	</select>
	<select id="selectMain" resultType="ScheduleModel" parameterType="hashMap">
		SELECT *
		FROM KO_SCHEDULE
		WHERE DEPPLACENM = #{dep_placenm} AND ARRPLACENM=#{arr_placenm}
	</select>
</mapper>